!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    %title TooMuchToRead.com
    %link{:href => "/assets/app.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://platform.readmill.com/send.js"}
    %script{:src => "/assets/app.js"}
    %script= "window.preloadedBooks = #{JSON.generate(@books)};"

    %meta(property="og:title" content="TooMuchToRead.com")
    %meta(property="og:type" content="website")
    %meta(property="og:image" content="http://toomuchtoread.com/assets/gutenberg.png")
    %meta(property="og:site_name" content="TooMuchToRead.com")
    %meta(property="og:url" content="http://toomuchtoread.com")

    %meta(name="description" content="A universal library with all the classics from Gutenberg.org ready to be read with Readmill.")
    %meta(property="og:description" content="A universal library with all the classics from Gutenberg.org ready to be read with Readmill.")

    %meta(name="viewport" content="width=600, initial-scale=1, maximum-scale=1")


  %body
    = yield

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36549865-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
