!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
      %title Gutenberg's Almost Complete Readmill Library
      %link{:href => "/assets/app.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
      %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
      %script{:src => "https://platform.readmill.com/send.js"}
      %script{:src => "/assets/app.js"}
      %script= "window.preloadedBooks = #{JSON.generate(@books)};"
  %body
    = yield